In [5]:
#using this Project_sample file Sample data in smaller size which used in Azure and Databricks Prediction
# We have to sample train and event data.

In [6]:
#Importing important libraries. To run cell just select Run button on top.
import pandas as pd
import numpy as np

In [7]:
# following code will read event file from where you store on local system and assign it to dataframe df.
# Note: Change path according to your system and file name.

In [8]:
df=pd.read_csv(r"C:/Users/pdmuser/Desktop/outbrain/event.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
# head used to see first five data from your datafarme. dataFrame.head()
# Note: If you want to see more data put number in bracket. Example:df.head(10)

In [10]:
df.head()

,Unnamed: 0,display_id,uuid,document_id,timestamp,platform,geo_location
0,3651690,3651691,1139d80d07dc62,1288128,234238227,2,US>MO
1,22249599,22249600,316b4bebdb4051,2923252,1254261019,3,US>NY>501
2,10383064,10383065,9fa1f7010f0066,2209879,692013157,2,US>CA>807
3,383803,383804,f9ec1c49ab15d6,1764847,33060066,1,US>TX>635
4,16931697,16931698,5d9a86c821578e,1776943,29816341,2,US>PA>504

In [11]:
# In following code we need to sample different data for Azure ML studio , databricks and oracle. Chnage frac part according to requirement.
# Azure ML studio: train file: 0.06  event file:0.04  Prmoted contet:0.2
# DataBricks Oracle: train gile:0.12  event file:0.09  Promoted Content: Do not sample file upload its original size.

In [12]:
#Following code will sample data in small size and assign it to df1 dataframe.

In [13]:
df1=df.sample(frac=0.12,random_state=123)

In [14]:
# following to_CSV function will convert df1 dataframe to csv file and download as file path given to you.
#Note: Path will different accoring to your system.

In [15]:
df1.to_csv('C:/Users/pdmuser/Downloads/outbrain/small/trains.csv')